:root {
    --red: #CC2936;
    --darkBlue: #1F2041;
    --grey: #343F3E;
    --lightBlue: #94B0DA;
    --bg: #DCEDFF;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

@media screen and (min-width: 300px) {

    body {
        text-align: center;
    }

    header {
        width: 90%;
        margin: auto;
    }

    header h2 {
        margin-top: 5px;
    }

    header p {
        padding: 5px;
        margin: 10px;
    }

    h2 {
        color: blue;
    }

    /*main section here*/

    .main_items {
        padding: 25px;
/*        background-color: var(--bg);*/
        background-image: linear-gradient(var(--bg), rgba(196, 242, 255, 0.95));
/*        border: 2px solid var(--lightBlue);*/
    }

    .main_items:nth-child(odd) {
/*        border: 2px solid var(--bg);*/
        background-image: linear-gradient(var(--darkBlue), rgba(31, 48, 65, 0.88));
/*        background-color: var(--darkBlue);*/
        color: white;
    }

    .main_items:nth-child(odd) h3{
        color: var(--red);
    }

    .main_items:nth-child(odd) h4 {
        color: var(--bg);
        font-weight: bold;
    }

    /*Bullets on skills section*/
    .skills_section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bullet_columns li{
        list-style: none;
    }

}