* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

@media screen and (min-width: 300px) {

    body {
        text-align: center;
    }

    header {
        width: 90%;
        margin: auto;
    }

    header h2 {
        margin-top: 5px;
    }

    header p {
        padding: 5px;
        margin: 10px;
    }

    h2 {
        color: blue;
    }

    .main_items {
        margin: 10px 0;
        padding: 25px;
    }

    .main_items:nth-child(odd) {
        background-color: black;
        color: white;
    }

}